/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #373D20;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #717744;
  border-radius: 10px;
}

.scroll-color-colors {
  /*Firefox */
  scrollbar-color:#717744  rgb(204, 204, 204);
}

.scroll-width-thin {
  /*Firefox */
  scrollbar-width: thin;
}